//.x-mask.splashscreen {
//  background-color: firebrick;
//  opacity: 1;
//}
//
//.x-mask-msg.splashscreen,
//.x-mask-msg.splashscreen div {
//  font-size: 16px;
//  font-weight: bold;
//  padding: 30px 5px 5px 5px;
//  border: none;
//  background: {
//    color: transparent;
//    position: top center;
//  };
//}

//.x-message-box .x-window-body .x-box-inner {
//  min-height: 110px !important;
//}
//.x-splash-icon {
//  background-color:red ;
//  //background-image: url('images/app/packt-logo.png') !important;
//  margin-top: -30px;
//  height: 70px;
//}
